<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Geo Location Weather</title>
</head>
<body>
    <div class="container">
        <h1>Your Location</h1>

        <form action="/get-location" method="post">
            <label for="">Zip Code:</label>
            <input type="text" name="zipCode">
            <label for="">ISO Code:</label>
            <input type="text" name="iso">
            <button type="submit">Submit</button>
        </form>
    </div>

    <section>
        <%if(locals.data){%>
            <h3>Name: <%= data.name %></h3>
            <h3>Country: <%= data.country %></h3>
        <% }%>

        <% if(locals.error){%>
            <h2><%= error %></h2>
        <% } %>
            
    </section>
</body>
</html>